@import "index/background.css";
@import "index/index.css";
@import "reset.css";
@import "index/inform.css";
@import "index/sale.css";
@import "index/products.css";
@import "index/tools.css";
@import "index/footer.css";
@import "theme.css";

@font-face {
    font-family: "Open Sans", Inter sans-serif;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.container {
    max-width: 1144px;
    margin: 0 auto;
    position: relative;

}



