.background-pic-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 1100px;
    position: absolute;

}
.background-pic-left {
    margin-top: 108px;

}
.background-pic-right {
    margin-top: 77px;


}

@media (max-width: 1900px) {

.background-pic-wrapper {
    display: none;
}

}