.footer {
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    box-shadow: 0 4px 27px rgba(0, 0, 0, 0.25);
    width: 2000px ;

}
.footerMain {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}
.footerMedia {
    display: none;
}
.footer-logo-block {
    padding: 23px 0 47px;
    margin-right: 102px;

}
.footer-email-block {
    display: flex;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin-right: 44px;
}
.email-logo {
    margin-right: 5px;
}
.email-adress {

}
.footer-tel-block {
    display: flex;
    margin-right: 43px;
}
.tel-logo {
    margin-right: 4px;
}
.tel-number {

}
.footer-site-block {
    padding: 67px 0 79px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    margin-right: 103px;

}
.footer-social-block {

}
.footer-social__instLogo {
    width: 40px;
    height: 40px;
    margin-right: 5px;

}
.footer-social__teleLogo {
    width: 40px;
    height: 40px;

}

@media (max-width: 1900px) {
    .footer-wrapper {
        width: 378px;

    }
    .footerMain {
        display: none;
    }

    .footerMedia {
        height: 135px;
        display: flex;
        justify-content: center;
        gap: 50px;
        align-content: center;
        align-items: center;

    }
    .logoAndSocial-block {


    }
    .logoMediaFoot {

        margin-bottom: 9px;

    }
    .social-logoMedia {
        display: flex;
        gap: 5px;
        margin-left: 6px;

    }
    .footer-social__instLogoMedia {

    }
    .footer-social__teleLogoMedia {

    }
    .contactsBlock {

    }
    .email-blockMedia {
        display: flex;
        gap: 5px;
        align-items: center;
        align-content: center;
        margin-top: 10px;
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;

    }
    .email-logoMedia {


    }
    .tel-blockMedia {
        display: flex;
        gap: 5px;
        align-items: center;
        align-content: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 12px;

    }
    .footer-tel-blockMedia {

    }
    .site-blockMedia {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;

    }


}