.main-information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 66px;
    margin-bottom: 72px;
}
.main-logo {
    width: 318px;
    height: 253px;
    margin-bottom: 74px;

}
.main-logo__media {
    display: none;
}
.main-information-block {

}
.main-social {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    align-content: center;


}
.inst__img {
    width: 40px;
    height: 40px;

}
.tele__img {
    width: 40px;
    height: 40px;

}
.main-informaiot__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration-line: underline;
}

@media (max-width: 1900px) {
.main-logo__media {
    display: grid;
    margin-bottom: 47px;
}
.main-logo {
    display: none;
}


}


