.products-wrapper {
    display: flex;
    justify-content: center;

}
.main-heading-second {
    text-align: center;
    font-weight: 400;
    font-size: 46px;
    line-height: 63px;
    margin-bottom: 96px;

}
.products-blocks {


}
.product-chicago-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 85px;
    margin-bottom: 100px;
}
.chicago-block__img {

}
.chicago-block__imgMedia {
    display: none;
}
.chicago-sale-block {


}
.product__heading {
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    margin-top: 76px;
    margin-bottom: 14px;
    color: var(--heading-grey)

}
.product-size-options {
    display: flex;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 83px;
    color: var(--size-options-grey);

}
.sizeLogo {
    width: 30px;
    height: 27px;
}
.product-block__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 5px;

}
.product-promo-code {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 20px;

}
.product-block__button {
    width: 412px;
    height: 80px;
    border: 3px solid #000000;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    background-color: white;

}
.product-tina-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 85px;
    margin-bottom: 100px;

}
.tina-block__img {

}
.tina-block__imgMedia {
    display: none;
}
.tina-sale-block {

}
.product-melina-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 85px;

}
.melina-block__img {

}
.melina-block__imgMedia {
    display: none;
}
.melina-sale-block {

}


@media (max-width: 1900px) {
    .products-wrapper {


    }
    .main-heading-second {
        display: flex;
        align-content: center;
        align-items: center;
        width: 238px;
        height: 88px;
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;
        margin-left: 20px;


    }

    .products-blocks {


    }
    .product-chicago-block {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        /*gap: 85px;*/
        /*margin-bottom: 100px;*/
    }
    .chicago-block__img {
        display: none;
    }
    .chicago-block__imgMedia {
        display: flex;
        width: 334px;
        height: 450px;
        border: 1px solid #EDEDED;
        margin-bottom: 0;
    }
    .chicago-sale-block {

         width: 375px;


    }
    .product__heading {
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 14px;
        color: var(--heading-grey)

    }
    .product-size-options {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        margin-left: 100px;
        /*margin-bottom: 83px;*/
        color: var(--size-options-grey);

    }
    .sizeLogo {
        width: 25px;
        height: 23px;
    }
    .product-block__text {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 5px;

    }
    .product-promo-code {
        text-align: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 65px;
        margin-bottom: 38px;

    }
    .product-block__button {
        margin-left: 40px;
        width: 296px;
        height: 75px;
        border: 3px solid #000000;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        background-color: white;

    }
    .product-tina-block {
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        align-items: center;

    }
    .tina-block__img {
        display: none;
    }
    .tina-block__imgMedia {
        display: flex;
        width: 334px;
        height: 450px;
        border: 1px solid #EDEDED;
        margin-bottom: 0;

    }
    .tina-sale-block {
        width: 375px;

    }
    .product-melina-block {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .melina-sale-block {
        width: 375px;

    }
.melina-block__img {
    display: none;
}
.melina-block__imgMedia {
    display: flex;
    width: 334px;
    height: 450px;
    border: 1px solid #EDEDED;
    margin-bottom: 0;
}

.product-button {
    display: none;
}


}