.sale-menu-wrapper {


}
.sale-menu {
    width: 1144px;
    height: 472px;
    box-shadow: 0 4px 27px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 168px;

}
.sale-menu__heading {
    margin-top: 67px;
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    color: var(--heading-pink);


}
.sale-menu__text {
    width: 760px;
    height: 119px;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 49px;
    color: var(--sale-text-grey);

}
.sale-menu__button {
    width: 390px;
    height: 80px;
    border: 3px solid #000000;
    background-color: white;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-align: center;


}

@media (max-width: 1900px) {
.sale-menu-wrapper {
    display: flex;
    justify-content: center;


}
.sale-menu {
    width: 356px;
    height: 339px;
    box-shadow: 0 4px 27px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 82px;

}
.sale-menu__heading {
    margin-top: 48px;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: var(--heading-pink);

}
.sale-menu__text {
    width: 330px;
    height: 119px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--sale-text-grey);
    margin-bottom: 0;


}
.sale-menu__button {
    width: 296px;
    height: 71px;
    border: 3px solid #000000;
    background-color: white;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-align: center;

}

}