.tools-wrapper {


}
.tools {

}
.tools-blocks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;


}
.swap-block {
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 78px;
}
.swap-block__img {
    margin-right: 13px;
    align-items: center;
    align-content: center;

}
.swap-block__text {
    align-items: center;
    align-content: center;
    color: var(--size-options-grey);

}
.delivery-block {
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 50px;

}
.delivery-block__img {
    margin-right: 14px;
    align-items: center;
    align-content: center;

}
.delivery-block__text {
    align-items: center;
    align-content: center;
    color: var(--size-options-grey);

}
.payment-block {
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 46px;
}
.payment-block__img {
    margin-right: 8px;
    align-items: center;
    align-content: center;

}
.payment-block__text {
    align-items: center;
    align-content: center;
    color: var(--size-options-grey);

}
.secure-block {
    display: flex;
    align-items: center;
    align-content: center;

}
.secure-block__img {
    margin-right: 15px;
    align-items: center;
    align-content: center;

}
.secure-block__text {
    align-items: center;
    align-content: center;
    color: var(--size-options-grey);

}
.product-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 108px;
    margin-bottom: 82px;
}
.catalog__button {

    width: 412px;
    height: 80px;
    border: 3px solid #000000;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    background-color: white;
}

@media (max-width: 1900px) {

    .tools-wrapper {
        display: flex;
        justify-content: center;
        /*margin-left: 20px;*/


    }
    .tools {
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        align-items: center;

    }
    .tools-blocks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        margin-top: 55px;
        width: 375px;
        margin-left: 20px;


    }
    .swap-block {
        display: flex;
        align-items: center;
        align-content: center;
    }
    .swap-block__img {
        margin-right: 13px;
        align-items: center;
        align-content: center;

    }
    .swap-block__text {
        align-items: center;
        align-content: center;
        color: var(--size-options-grey);

    }
    .delivery-block {
        display: flex;
        align-items: center;
        align-content: center;
        margin-left: 10px;

    }
    .delivery-block__img {
        margin-right: 20px;
        align-items: center;
        align-content: center;

    }
    .delivery-block__text {
        align-items: center;
        align-content: center;
        color: var(--size-options-grey);

    }
    .payment-block {
        display: flex;
        align-items: center;
        align-content: center;
    }
    .payment-block__img {
        margin-right: 15px;
        align-items: center;
        align-content: center;

    }
    .payment-block__text {
        align-items: center;
        align-content: center;
        color: var(--size-options-grey);

    }
    .secure-block {
        display: flex;
        align-items: center;
        align-content: center;

    }
    .secure-block__img {
        margin-right: 15px;
        align-items: center;
        align-content: center;

    }
    .secure-block__text {
        align-items: center;
        align-content: center;
        color: var(--size-options-grey);

    }
    .product-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 62px;
        margin-left: 0;
    }
    .catalog__button {

        width: 296px;
        height: 75px;
        border: 3px solid #000000;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        background-color: white;
    }


}